.app {
  background: #B6DDD5;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.content {
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 64px;
  height: 31cm;
  display: flex;
  flex-direction: column;
}